<%= this.head({ title: 'Configurer' }) %>
<body>
<% data.active = 'configure' %>
<%= this.mainmenu(data) %>
<div class="row column">
<h1 class="title">Configurer</h1>
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Accueil</a></li>
    <li>
      <span class="show-for-sr">Actuel: </span> Configurer
    </li>
  </ul>
</nav>

<p class="lead">
Configurer l'autocomplétion de certains champs. Les valeurs disponibles au moment
de l'autocomplétion incluent les valeurs des autres exercices.</p>
<div class="row collapse">
  <div class="medium-3 columns">
    <ul class="tabs vertical" id="example-vert-tabs" data-tabs>
      <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Travaux</a></li>
      <li class="tabs-title"><a href="#panel2v">Thèmes</a></li>
      <li class="tabs-title"><a href="#panel3v">Étudiants</a></li>
    </ul>
  </div>
  <div class="medium-9 columns">
    <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
      <div class="tabs-panel is-active" id="panel1v">
        <form method="post">
          <h3>Configurer les thèmes</h3>
          <div class="row">
            <div class="column small-8">
              <textarea name="theme" rows="10"><%- data.theme && data.theme.length && data.theme.join('\n') || '' %></textarea>
            </div>
            <div class="column small-4">
              <input class="button secondary" type="submit" value="Soumettre">
            </div>
          </div>
        </form>
      </div>
      <div class="tabs-panel" id="panel2v">
        <form method="post">
          <h3>Configurer les travaux</h3>
          <div class="row">
            <div class="column small-8">
              <textarea name="travail" rows="10"><%- data.travail && data.travail.length && data.travail.join('\n') || '' %></textarea>
            </div>
            <div class="column small-4">
              <input class="button secondary" type="submit" value="Soumettre">
            </div>
          </div>
        </form>
      </div>
      <div class="tabs-panel" id="panel3v">
        <form>
          <h3>Inscrire des étudiants</h3>
          <div class="row">
            <div class="column small-8">
              <input type="file">
            </div>
            <div class="column small-4">
              <input class="button secondary" type="submit" value="Soumettre">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<%= this.js({ custom: ['autocompleter'] }) %>
</body>
</html>
