<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css">
<title>hi monde</title>
</head>
<body data-exid="<%- data.doc._id %>">
<div class="row column">
<h1 class="title">Corrections d'exercice</h1>
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Accueil</a></li>
    <li><a href="/exercices">Exercices</a></li>
    <li>
      <span class="show-for-sr">Actuel: </span> <%- data.doc.title %>
    </li>
  </ul>
</nav>
<ul>
<li>Thème: <span class="label"><%- data.doc.theme %></span></li>
<li>Pondération: sur <%- data.doc.ponderation %></li>
</ul>
<p><%- data.doc.descriptif || data.doc.description %></p>
<ul id="json"></ul>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>
<script>
$(function () {
  $(document).foundation()
  const getUsers = function () {
    const exid = $('body').data('exid')
    const fn = function (data) {
      const filt = function (doc) {
        // return doc._attachments && doc._attachments[exid + '.psd'] && doc.roles.indexOf('student') !== -1
        return doc.roles.indexOf('student') !== -1
      }
      const docs = data.rows.map(function (row) { return row.doc })
      const withAtts = docs.filter(filt)
      let atts
      if (withAtts.length) {
        atts = withAtts.map(function (doc) { return '<li><a href="/corrections/' + exid + '/' + doc.name + '">' + doc.name + '</a></li>' })
      } else {
        atts = ['<li>[PERSONNE]</li>']
      }
      $('ul#json').html(atts.join(''))
    }
    const query = {
      startkey: '"org.couchdb.user:"',
      endkey: '"org.couchdb.user:\ufff0"',
      include_docs: true
    }
    $.getJSON('/_users/_all_docs', query, fn)
  }
  getUsers()
})
</script>
</body>
</html>
