<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css">
<title>hi monde</title>
</head>
<body data-uid="<%- data.query.user %>">
<div class="row column">
<h1 class="title">Correction d'exercice de <%- data.query.user %></h1>
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Accueil</a></li>
    <li><a href="/exercices">Exercices</a></li>
    <li><a href="/corrections/<%- data.doc._id %>"><%- data.doc.title %></a></li>
    <li>
      <span class="show-for-sr">Actuel: </span> <%- data.query.user %>
    </li>
  </ul>
</nav>
<span class="label"><%- data.doc.theme %></span>
<p><%- data.doc.descriptif || data.doc.description %></p>
<pre id="json"></pre>
<pre><%= JSON.stringify(data, null, ' ') %></pre>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>
<script>
$(function () {
  $(document).foundation()
  const uid = $('body').data('uid')
  $.getJSON('/_users/org.couchdb.user:' + uid, function (data) {
    $('pre#json').text(JSON.stringify(data, null, ' '))
  })
})
</script>
</body>
</html>
