<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css">
<title>hi monde</title>
</head>
<body data-exid="<%- data.doc._id %>">
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li><a href="/">Accueil</a></li>
      <li><a href="/exercices">Exercices</a></li>
      <% if (data.roles.indexOf('teacher') !== -1 || data.roles.indexOf('_admin') !== -1) { %>
      <li><a href="/new">Créer un exercice</a></li>
      <% } %>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li class="menu-text"><%- data.name %></li>
      <li><button type="button" class="button">Logout</button></li>
    </ul>
  </div>
</div>
<div class="row column">
<h1 class="title">Corrections d'exercice</h1>
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Accueil</a></li>
    <li><a href="/exercices">Exercices</a></li>
    <li>
      <span class="show-for-sr">Actuel: </span> <%- data.doc.title %>
    </li>
  </ul>
</nav>
<h2><%- data.doc.title %></h2>
<ul>
<li>Thème: <span class="label"><%- data.doc.theme %></span></li>
<li>Pondération: sur <%- data.doc.ponderation %></li>
</ul>
<p><%- data.doc.descriptif || data.doc.description %></p>
<h3>À faire</h3>
<ul id="json"></ul>

<h3>Corrigés</h3>
<ul id="json2"></ul>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script>
$(function () {
  'use strict'
  const exid = $('body').data('exid')
  const getUsers = function () {
    const fn = function (data) {
      const filt = function (doc) {
        return doc.roles.indexOf('student') !== -1 && (!doc.corrections || !doc.corrections[exid])
      }
      const docs = data.rows.map(function (row) { return row.doc })
      const withAtts = docs.filter(filt)
      const atts = withAtts.length
        ? withAtts.map(function (doc) { return '<li><a href="/corrections/' + exid + '/' + doc.name + '">' + doc.name + '</a></li>' })
        : ['<li>[PERSONNE]</li>']
      $('ul#json').html(atts.join(''))

      const filt2 = function (doc) {
        return doc.roles.indexOf('student') !== -1 && doc.corrections && doc.corrections[exid]
      }
      const withAtts2 = docs.filter(filt2)
      const atts2 = withAtts2.length
        ? withAtts2.map(function (doc) { return '<li><a href="/corrections/' + exid + '/' + doc.name + '">' + doc.name + '</a></li>' })
        : ['<li>[PERSONNE]</li>']
      $('ul#json2').html(atts2.join(''))
    }
    const query = {
      startkey: '"org.couchdb.user:"',
      endkey: '"org.couchdb.user:\ufff0"',
      include_docs: true
    }
    $.getJSON('/_users/_all_docs', query, fn)
  }
  getUsers()
})
</script>
</body>
</html>
