<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css">
<title>hi monde</title>
</head>
<body data-exercice="<%- data.doc._id %>" data-student="<%- data.query.user %>" data-ponderation="<%- data.doc.ponderation %>">
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li><a href="/">Accueil</a></li>
      <li><a href="/exercices">Exercices</a></li>
      <% if (data.roles.indexOf('teacher') !== -1 || data.roles.indexOf('_admin') !== -1) { %>
      <li><a href="/new">Créer un exercice</a></li>
      <% } %>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li class="menu-text"><%- data.name %></li>
      <li><button type="button" class="button">Logout</button></li>
    </ul>

  </div>
</div>
<div class="row column">
<h1 class="title">Correction d'exercice de <%- data.query.user %></h1>
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Accueil</a></li>
    <li><a href="/exercices">Exercices</a></li>
    <li><a href="/corrections/<%- data.doc._id %>"><%- data.doc.title %></a></li>
    <li>
      <span class="show-for-sr">Actuel: </span> <%- data.query.user %>
    </li>
  </ul>
</nav>
<h2><%- data.doc.title %></h2>
<ul>
<li>Travail: <span class="label warning"><%- data.doc.travail %></span></li>
<li>Thème: <span class="label success"><%- data.doc.theme %></span></li>
<li>Pondération sur <span class="stat"><%- data.doc.ponderation %></span></li>
</ul>
<p><%= data.doc.descriptif || data.doc.description %></p>
  <div class="row">
    <div class="column small-12 medium-10 medium-offset-1 large-6 large-offset-3">
      <form method="post">
        <fieldset class="fieldset callout primary">
        <div class="row">
          <div class="small-4 column medium-6">
            <label for="note-label" class="text-right middle">Note sur <%- data.doc.ponderation %></label>
          </div>
          <div class="small-8 column medium-6">
            <input min="0" max="<%- data.doc.ponderation %>" type="number" step="any" id="note-label" name="note" required>
          </div>
        </div>
        <div class="row">
          <div class="small-4 column medium-6">
            <label for="commentaires-label" class="text-right">Commentaires</label>
          </div>
          <div class="small-8 column medium-6">
            <textarea rows="10" id="commentaires-label" name="commentaires" required></textarea>
          </div>
        </div>
        <div class="row">
          <div class="small-4 column medium-6">
            <label for="reference-label" class="text-right">Référence</label>
          </div>
          <div class="small-8 column medium-6">
            <input type="checkbox" id="reference-label" name="reference">
          </div>
        </div>
        <div class="row">
          <div class="small-offset-4 small-8 medium-6 medium-offset-6 column">
            <input class="button expanded" type="submit" value="Noter">
          </div>
        </div>
        </fieldset>
      </form>
    </div>
  </div>
<pre id="json"></pre>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/corrections-user.js"></script>
</body>
</html>
