<%= this.head({ title: 'Corrections' }) %>
<body data-exid="<%- data.doc._id %>">
<%= this.mainmenu(data) %>
<div class="row column">
<%= this.breadcrumbs({
  title: 'Corrections d\'exercice',
  subtitle: data.doc.title,
  last: data.doc.title,
  paths: [['exercices', 'Exercices']]
}) %>
<ul>
<li>Travail: <span class="label warning"><%- data.doc.travail %></span></li>
<li>Thème: <span class="label success"><%- data.doc.theme %></span></li>
<li>Pondération: sur <%- data.doc.ponderation %></li>
</ul>
<p><%= data.doc.descriptif || data.doc.description %></p>
<h3>À faire</h3>
<ul class="menu vertical" id="json"></ul>
<h3>Corrigés</h3>
<ul class="menu vertical" id="json2"></ul>
</div>
<%= this.js({ custom: ['corrections'] }) %>
</body>
</html>
