<%= this.head({ scorelist: true, title: (data.self ? 'Mes résultats:' : 'Résultats de') + ' ' + data.student }) %>
<body data-student="<%- data.student %>">
<%= this.mainmenu({ active: data.self && 'resultats', roles: data.roles, name: data.name }) %>
<% if (data.self) { %>
<%= this.breadcrumbs({ title: 'Mes résultats', subtitle: data.student, last: 'Mes résultats' }) %>
<% } else { %>
<%= this.breadcrumbs({ title: 'Résultats de ' + data.student, subtitle: data.student, paths: [['etudiants', 'Étudiants']], last: 'Résultats' }) %>
<% } %>
<table class="hover stack">
  <thead>
    <tr>
      <th width="100">Aperçu</th>
      <th>Travail</th>
      <th>Thème</th>
      <th>Exercice</th>
      <th>Date</th>
      <th>Note</th>
      <th title="Pondération">Sur</th>
      <th>Sur 100</th>
      <th>Référence</th>
    </tr>
  </thead>
  <tbody>
  <% data.rows.forEach(function (row) { %>
    <tr class="exercice" id="<%- row.doc._id %>">
      <td class="json-apercu"><img width="100" src="" alt="Aperçu"></td>
      <td><%- row.doc.travail || '' %></td>
      <td><%- row.doc.theme || '' %></td>
      <% if (data.self) { %>
      <td><a href="/score/<%- row.doc._id %>"><%- row.doc.title %></a></td>
      <% } else { %>
      <td><a href="/corrections/<%- row.doc._id + '/' + data.student %>"><%- row.doc.title %></a></td>
      <% } %>
      <td><%- row.doc.createdAt.split('T')[0] %></td>
      <td title="Cliquez pour lire les commentaires">
          <a class="json-note" href="#" data-toggle="toggle-<%- row.doc._id %>"></a>
          <div class="json-commentaires dropdown-pane top" id="toggle-<%- row.doc._id %>" data-dropdown data-auto-focus="true" data-close-on-click="true" data-position-class="top">
          ...
          </div>
      </td>
      <td title="Pondération" class="json-ponderation"></td>
      <td class="json-percent"></td>
      <td class="json-reference"></td>
    </tr>
  <% }) %>
  </tbody>
</table>
<%= this.js({ custom: ['etudiant'] }) %>
</body>
</html>
