<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css">
<title>Allou allou!</title>
</head>
<body>
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li><a href="/">Accueil</a></li>
      <li class="active"><a href="/exercices">Exercices</a></li>
      <% if (data.roles.indexOf('teacher') !== -1 || data.roles.indexOf('_admin') !== -1) { %>
      <li><a href="/new">Créer un exercice</a></li>
      <li><a href="/autocomplete">Configurer</a></li>
      <% } %>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li class="menu-text"><%- data.name %></li>
      <li><button type="button" class="button">Logout</button></li>
    </ul>
  </div>
</div>
<div class="row column">
<h1 class="title">Les exercices</h1>
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Accueil</a></li>
    <li>
      <span class="show-for-sr">Actuel: </span> Exercices
    </li>
  </ul>
</nav>
<ol>
<% data.rows.forEach(function (row) { %>
  <li>
    <h3><%- row.title %> <small><%- row.createdAt.split('T')[0] %></small></h3>
    <ul class="menu"><%= data.userMenu(row) %></ul>
  </li>
<% }) %>
</ol>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
