<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css">
<title>Allou allou!</title>
<style>
body > div:first-child { margin-top: 2em; }
form > fieldset:first-child > h1:first-child { margin-bottom: 1em; }
</style>
</head>
<body>
<div class="row column">
<h1 class="title">Les exercices</h1>
<ol>
<% data.rows.forEach(function (row) { %>
  <li><%- row.title %> - <a href="/psd/<%- row._id %>">Envoyer PSD</a></li>
<% }) %>
</ol>
<pre>
<%- JSON.stringify(data.rows, null, ' ') %>
</pre>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>
<script>
$(function () {
  $(document).foundation()
})
</script>
</body>
</html>
