<h3><%- data.doc.title %></h3>
<ul>
<% if (data.doc.travail) { %>
<li>Travail: <span class="label warning"><%- data.doc.travail %></span></li>
<% } %>
<% if (data.doc.theme) { %>
<li>Thème: <span class="label success"><%- data.doc.theme %></span></li>
<% } %>
<% if (data.doc.ponderation) { %>
<li>Pondération sur <span class="stat"><%- data.doc.ponderation %></span></li>
<% } %>
</ul>
<% if (data.doc.descriptif || data.doc.description) { %>
<p><%= data.doc.descriptif || data.doc.description %></p>
<% } %>
