</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js" integrity="sha384-2xzWP4vtFzybsQnYIv6DYL5gFiaA8f/amFJbsV0y4YxQHFOsYtOtkxSeDA1F2MjL" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/main.js"></script>
<% if (data && data.medium) { %>
<script src="//cdnjs.cloudflare.com/ajax/libs/medium-editor/5.21.1/js/medium-editor.min.js" integrity="sha384-uo/d636tfpGSF/v596c0WWPFz3Z5h7uYM1Ul5yoVtj/Hs64xrK5qmXPVsUhZ0ooI" crossorigin="anonymous"></script>
<% } %>
<% data && data.custom && data.custom.forEach(function (js) { %>
<script type="text/javascript" src="/js/<%- js %>.js"></script>
<% }) %>
