<%= this.head({ title: 'Les rendus de référence' }) %>
<body>
<%
data.active = 'rendus'
var r
%>
<%= this.mainmenu(data) %>
<%= this.breadcrumbs({ title: 'Les rendus de référence', last: 'Rendus' }) %>
<% data.rows.forEach(function (row) { %>
  <% if (!row._attachments) { return } %>
  <div>
    <h3><%- row.title %></h3>
    <div class="row">
      <% for (r in row._attachments) { %>
      <div class="column small-12 medium-6 large-4">
      <a href="<%- ['/rendu', row._id, r].join('/') %>"><img class="thumbnail" src="<%- ['/rendu', row._id, r].join('/') %>" alt="rendu de référence pour l'exercice <%- row.title %>"></a>
      </div>
      <% } %>
    </div>
  </div>
<% }) %>
<%= this.js() %>
</body>
</html>
