<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css">
<% if (data.roles.indexOf('teacher') !== -1 || data.roles.indexOf('_admin') !== -1) { %>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/csshake/1.5.0/csshake-horizontal.min.css">
<% } %>
<title>hi monde</title>
</head>
<body data-exercice="<%- data.doc._id %>" data-student="<%- data.name %>" data-ponderation="<%- data.doc.ponderation %>">
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li><a href="/">Accueil</a></li>
      <li><a href="/exercices">Exercices</a></li>
      <% if (data.roles.indexOf('teacher') !== -1 || data.roles.indexOf('_admin') !== -1) { %>
      <li><a href="/new">Créer un exercice</a></li>
      <li><a href="/autocomplete">Configurer</a></li>
      <% } %>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <% if (data.roles.indexOf('teacher') !== -1 || data.roles.indexOf('_admin') !== -1) { %>
      <li><button data-adminname="<%- data.name %>" class="adminname button secondary hollow"><%- data.name %></button></li>
      <% } else { %>
      <li class="menu-text"><%- data.name %></li>
      <% } %>
      <li><button type="button" class="button secondary logout">Me déconnecter</button></li>
    </ul>
  </div>
</div>
<div class="row column">
<h1 class="title">Résultat d'exercice de <%- data.name %></h1>
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Accueil</a></li>
    <li><a href="/exercices">Exercices</a></li>
    <li class="disabled"><%- data.doc.title %></li>
    <li>
      <span class="show-for-sr">Actuel: </span> Score
    </li>
  </ul>
</nav>
<h2><%- data.doc.title %></h2>
<ul>
<li>Thème: <span class="label"><%- data.doc.theme %></span></li>
<li>Pondération sur <span class="stat"><%- data.doc.ponderation %></span></li>
</ul>
<p><%= data.doc.descriptif || data.doc.description %></p>
<h3>Score</h3>
<div class="callout" id="json-score"></div>
  <div id="reference-image">
      <form id="upload-jpeg" action="/_users/org.couchdb.user:<%- data.name %>">
        <fieldset class="fieldset callout primary">
        <h1 class="title text-center">Téléverser jpeg</h1>
        <div class="row">
          <div class="small-offset-4 small-8 medium-6 medium-offset-6 column">
            <label for="fichier-label" class="button expanded">
              <img src="" alt="jpg" title="Choisir le fichier">
            </label>
            <input type="file" id="fichier-label" class="show-for-sr" name="jpeg" required>
          </div>
        </div>
        </fieldset>
      </form>
  </div>
</div>
<%= this.js({ custom: ['score'] }) %>
</body>
</html>
